* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common */
.vertical-align {
    vertical-align: middle;
}

/* header */
header {
    background-color: cornflowerblue;
}

/* nav */
nav {
    height: 70px;
    width: 100%;
    background-color: white;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 9999;
}

.nav-link {
    margin-left: 1rem;
    color: grey;
}

.button {
    padding: 5px 10px;
    color: white;
}

.blu {
    background-color: blue;
}

/* hero */
.container-hero {
    width: 70%;
    max-width: 1100px;
    margin: 2rem auto;
}

.hero-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h1 {
    font-weight: bold;
}

.hero-col-small {
    width: calc(40% - 1rem);
    height: 200px;
    background-color: bisque;
}

.hero-col-big {
    width: 60%;
    height: 200px;
    background-color: brown;
}

/* main */

/* plan */
.container-small {
    width: 60%;
    max-width: 1100px;
    margin: 2rem auto;
}

.plan-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.billing {
    width: 100%;
}

.plan-vertical-col {
    width: calc(100% / 3 - 2rem / 3);
    background-color: blueviolet;
    height: 500px;
}

.plan-horizontal-col {
    width: 100%;
    background-color: blueviolet;
    height: 100px;
}

/* partner */
.partner-flex {
    display: flex;
    gap: 1rem;
}

.partner-col-big {
    width: 60%;
    background-color: aquamarine;
    height: 300px;
}

.partner-col-small {
    width: 40%;
    background-color: aquamarine;
    height: 300px;
}