:root {
    --cyan: rgb(180 208 231);
    --button-color: rgb(0 97 255);
    --nav-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    -webkit-text-stroke: 1.3px;
}

/* utilities */
.full-width {
    width: 100%;
}

.button-blu {
    background-color: var(--button-color);
}

.button-blu:hover {
    background-color: rgba(0, 97, 255, .9);
}

.mb-1 {
    margin-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.bb-grey {
    border-bottom: 1px solid grey;
}

.display-ib {
    display: inline-block;
}

.text-right {
    text-align: right;
}

/* header */
header {
    background-color: var(--cyan);
}

/* nav */
nav {
    height: var(--nav-height);
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 9999;
}

.ul-flex {
    display: flex;
}

.nav-link {
    margin-left: 1rem;
    color: grey;
}

.button {
    padding: 5px 10px;
    color: white;
    text-align: center;
    display: inline-block;
}

/* hero */
.container-hero {
    width: 70%;
    max-width: 1100px;
    margin: var(--nav-height) auto 2rem;
    padding: 2rem;
}

.hero-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h1 {
    -webkit-text-stroke: 2px;
    margin-bottom: 1rem;
}

.hero-col-small {
    width: calc(40% - 1rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.arrow {
    font-size: 3rem;
    width: 100%;
    margin-top: 2rem;
}

.hero-col-big {
    width: 60%;
}

/* main */

/* plan */
.container-small {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

.plan-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.billing {
    width: 100%;
}

.plan-vertical-col {
    width: calc(100% / 3 - 2rem / 3);
    border: 1px solid grey;
}

.plan-horizontal-col {
    width: 100%;
    border: 1px solid grey;
}

.plan-card {
    display: flex;
    flex-wrap: wrap;
}

.plan-type {
    width: 100%;
    text-align: center;
    padding: .7rem;
    font-size: .9rem;
}

.plan-icon {
    margin-right: .3rem;
}

.card-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
}

.fa-check {
    color: var(--button-color);
}

.card-flex-horizontal {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem 1.5rem;
    width: 100%;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: calc(70% - 1rem);
}

/* partner */
.partner-flex {
    display: flex;
    gap: 1rem;
}

.partner-col-big {
    width: 60%;
}

.partner-col-small {
    width: 40%;
    padding: 2rem;
}

.button-white {
    color: black;
    border: 1px solid black;
    margin-top: 1rem;
}

/* description */
.description-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.description-col {
    width: calc(100% / 3 - 4rem / 3);
}

/* companies */
.companies-flex {
    display: flex;
}

.companies-col {
    width: calc(100% / 3);
    background-color: black;
    height: 200px;
}

.red {
    background-color: red;
}

/* free-trial */
.free-trial-background {
    background-color: cornflowerblue;
}

.free-trial-flex {
    display: flex;
    justify-content: space-between;
}

/* frequently-questions */
.frequently-questions-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.frequently-questions-col {
    width: 100%;
    background-color: green;
    height: 300px;
}

/* footer */
footer {
    background-color: black;
}

/* footer-top */
.container-footer {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

.footer-top-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-top-col {
    width: calc(100% / 5 - 4rem / 5);
    background-color: blanchedalmond;
    height: 200px;
}

/* footer-bottom */
.language {
    padding: 2rem 0;
    border-top: 3px solid rgb(75, 75, 75);
    color: white;
}